<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<!-- <div class="buttons">
<button routerLink="/login">Login</button>
<button routerLink="/signUp">Sign Up</button>
</div> -->
<br><br><br><br>
<div class="content">
  <!-- <div id="vertical"></div> -->
  <ul>
    <!-- <li><a routerLink="/search">Search Vehicle</a></li> -->
    <li><a style="cursor: pointer;"><div id="div1" (click)="selection()" >View all Vehicles</div></a></li>
  </ul>
</div>
<div class="div">
{{allVehicles}}
</div>
<div style="margin-top: 280px;text-align: center;">
<footer>
    <p><b>like us on <a href="#" style="color:#3b5998;"><i class="fa fa-facebook"style="font-size:24px"></i></a>
       follow us on <a href="#" style="color:#3f729b;"><i class="fa fa-instagram"style="font-size:24px"></i></a>
        follow us on <a href="#" style="color:#00acee;"><i class="fa fa-twitter-square"style="font-size:24px"></i></a></b></p>
   
</footer>
</div>
</body>
