<div class="div1">
  <p><b>First name: </b></p>
  <input type="text" name="FName" value="{{fName}}" required="This field is required"/>
  <br><br><br>
  <p><b>Last name: </b></p>
  <input type="text" name="LName" value="{{lName}}" required="This field is required"/>
  <br><br><br>
  <p><b>User name: </b></p>
  <input type="text" name="UName" value="{{uName}}" required="This field is required"/>
  <br><br><br>
  <p><b>Password: </b></p>
  <input type="password" name="password" value="{{password}}" required="This field is required"/>
  <br><br><br>
  <button routerLink="/loginSignUp-home">Sign up</button>
</div>
